.google_search_container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  span {
    color: rgba(0, 0, 0, 0.6);
  }

  input {
    width: 100%;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.8);
  }
}
