.newsItem {
  background-color: #2c2c2c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-decoration: none;
  color: inherit;
  height: 20rem;
  width: 95%;
  margin: auto;

  &:hover .image_container img {
    transform: scale(1.1);
  }
}

.image_container {
  overflow: hidden;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    border-radius: 1rem 0 0 1rem;
  }
}

.newsItem_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 1rem 1.5rem;
  gap: 0.5rem;

  .source {
    display: flex;
    gap: 0.75rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .description {
    color: rgba(255, 255, 255, 0.7);
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .publishedDate {
    span {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
