@import '../../vars.css';

.news_grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  animation: opacityTransition 1s ease-in;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 2rem;
  margin-bottom: 1rem;

  li {
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 1.8rem;

    &:hover {
      background-color: #d6d6d6;
    }
  }

  .active {
    background-color: var(--color-primary);
    color: rgba(255, 255, 255, 0.9);
  }
}

.select_menu {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;

  .select_btn {
    cursor: pointer;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .caret {
    transition: 0.3s;
  }

  .caret_rotate {
    transform: rotate(180deg);
  }

  .options {
    margin-top: 0.5rem;
    width: 18rem;
    height: 30rem;
    position: absolute;
    z-index: 4;
    background-color: rgba(255, 255, 255, 1);
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.5rem;

    &::-webkit-scrollbar {
      width: 0.75em;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 100vw;
      margin-block: 0.2em;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-secondary);
      border-radius: 100vw;
      border: 0.15em solid #ececec;
    }

    .option {
      cursor: pointer;
      padding: 1rem;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.active_dropdown {
  display: block;
}

.hidden_dropdown {
  display: none;
}

@keyframes opacityTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
