@import '../../vars.css';

.news_grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  animation: opacityTransition 1s ease-in;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 3rem;

  li {
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 1.8rem;

    &:hover {
      background-color: #bebebe;
    }
  }

  .active {
    background-color: var(--color-primary);
    color: rgba(255, 255, 255, 0.9);
  }
}

@keyframes opacityTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
