.App {
  font-family: 'Anton', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 95%;
  margin: auto;
  height: 80vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

main {
  display: grid;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  gap: 2rem;
}

@media only screen and (min-width: 1300px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
