.App {
  width: 100%;
  padding: 4rem 0;
  gap: 2rem;
  box-sizing: border-box;
  margin: auto;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url('./assets/wave.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

main {
  display: grid;
  width: 90%;
  max-width: 1600px;
  margin: auto;
  gap: 4rem;
}

@media only screen and (min-width: 1300px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
