* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #ebebf0;
}

#root {
  height: 100%;
}
