* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: 'Anton', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ebebf0;
}
