.profile {
  text-align: right;
  position: absolute;
  top: 2rem;
  right: 4rem;
}

.profile_menu {
  background-color: #fafafa;
  top: 1rem;
  color: #515151;
  width: 20rem;
  text-align: center;
  padding: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  word-wrap: break-word;
  position: relative;
  z-index: 5;

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 10px;
    height: 20px;
    width: 20px;
    background: #fafafa;
    transform: rotate(45deg);
  }
}

.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: 500ms ease;
}

.inactive {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-3px);
  transition: 500ms ease;
}

.profile_picture {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.user_info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  .username {
    font-weight: 600;
  }
  .email {
    color: #878787;
  }
}

.profile_menu_actions {
  div {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
