.weather_container {
  font-size: 1.8rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .city_info {
    font-size: 3rem;
    font-weight: 600;
    color: #291f1f;
  }

  .weather_details {
    display: flex;
    align-items: center;
  }

  .temperature {
    font-size: 3rem;
    // font-weight: 600;
    color: rgba(41, 31, 31, 0.8);
  }

  .description {
    font-size: 1.8rem;
    color: rgba(41, 31, 31, 0.8);
    font-weight: 600;
  }
}
