@import '../../vars.css';

.content_container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 50rem;
  overflow-y: scroll;
  padding: 1rem;
  border-radius: 1rem;

  &::-webkit-scrollbar {
    width: 0.75em;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100vw;
    margin-block: 0.2em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 100vw;
    border: 0.15em solid #ececec;
  }
}

.tabs {
  display: flex;
  gap: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.tab_option {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.active {
  border-bottom: 2px solid var(--color-primary);
}
