.calendarEventsItem_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem;

  .summary {
    opacity: 0.9;
    font-size: 1.8rem;
  }

  .time {
    opacity: 0.7;
    font-size: 1.6rem;
  }
}
