.welcome_panel_container {
  display: grid;
  width: 100%;
  max-width: 1600px;
  text-align: center;
  margin: auto;

  .time {
    font-size: 9rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
  }

  .date {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
  }
}

@media only screen and (min-width: 1300px) {
  .welcome_panel_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
