.App {
  font-family: 'Anton', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  margin: auto;
  padding: 5rem 1rem;
  color: #fff;
}
