.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.add_website_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #353535;
  padding: 3rem 2rem 1.5rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  form {
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      input[type='text'] {
        background-color: #474747;
        color: inherit;
        padding: 0.5rem 1rem;
        font-size: 1.6rem;
        border-radius: 0.5rem;
        border: none;
        border: 2px solid transparent;
        margin-top: 0.5rem;

        &:focus {
          outline: none !important;
          border: 2px solid #bb86fc;
        }
      }
    }
    .form_actions {
      flex-direction: row;
      justify-content: end;
      gap: 1rem;
      padding-top: 1rem;

      button {
        padding: 0.75rem 2rem;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .cancel {
        background-color: transparent;
        border: 1px solid #9640ff;
        color: #a357ff;
      }

      .submit {
        background-color: #9640ff;
        color: #fff;
      }
    }
  }
}
