.website {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #2c2c2c;
  height: 12rem;
  word-wrap: break-word;
  text-align: center;
  position: relative;
  border-bottom: 4px solid #bb86fc;

  a {
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      opacity: 0.6;
    }
  }

  .more_options {
    position: absolute;
    top: 0.5rem;
    right: 0.2rem;
    cursor: pointer;
    z-index: 2;

    &:hover {
      opacity: 0.6;
    }
  }

  img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 0.5rem;
  }
}
