@import '../../vars.css';

.flex {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.website_container {
  display: grid;
  gap: 2rem;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 14rem);
}

.modal {
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
  background-color: var(--color-secondary);
  color: rgba(255, 255, 255, 0.9);

  &:hover {
    background-color: var(--color-primary);
  }
}
