a {
  text-decoration: none;
}

.website {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 0.75rem;
  height: 8rem;
  width: 14rem;
  padding: 1rem;
  background-color: #2c2c2c;
  color: #fff;
  word-wrap: break-word;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  img {
    height: 4rem;
    width: 4rem;
  }
}
