.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.more_options {
  position: absolute;
  right: 0.5rem;
  top: 3rem;
  z-index: 4;
  background-color: #442468;

  p {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}
